<main class="container">
  <button mat-flat-button color="accent" class="addbtn" routerLink="/add">Add a Hero</button>
  <mat-list *ngFor="let item of heroes">
    <!-- <nav><a routerLink="/heroes/{{item.name}}"> -->
      <h1 mat-subheader>{{item.born | date}}</h1>
      <mat-list-item (click)="getHero(item)">
        <div *ngIf="item.good; else vilan" appGood>
          {{item.name}} is a superhero.
        </div>
        <ng-template matLine #vilan>
          {{item.name}} is a superVilan.
        </ng-template>
        <mat-divider></mat-divider>
      </mat-list-item>
    <!-- </a></nav> -->
  </mat-list>
</main>
<!-- <app-add (newHeroes)="onNewHero($event)" *ngIf="!funct"></app-add> -->
<!-- <app-detail [gotHero]="gotHero"></app-detail> -->

<!-- <mat-list *ngFor="let item of heroes"
     [ngStyle]="{'color': item.good ? 'green':'red'}"
     [ngClass]="{
       'hero': item.good,
       'vilan': !item.good
      }"> -->
