@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
       height: 100%;
      }

body { margin: 3em;
       font-family: Roboto,"Helvetica Neue", sans-serif;
      }

* {
  font-family: "Andale Mono", sans-serif;
}
